SERVER_PORT=8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=watch_shop
DB_SSLMODE=disable

JWT_SECRET=doan-tot-nghiep-watch-shop-secret-key
JWT_EXPIRE_HOURS=72

UPLOAD_DIR=./uploads
PUBLIC_URL=http://localhost:8080
